:root {
    --light: #f4f4f4
    --gray: #ddd
    --black: #222
}

html {
    background: var(--light)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main, footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0;
    line-height: 150%;
}

main article, table {
    min-width: 0;
}

main h1, h2, h3 {
    font-weight: 500;
}

strong {
    font-weight: 500;
}

.logo img {
    max-height: 2.5rem;
    max-width: 2.5rem;
    vertical-align: middle;
}

.logo {
    text-decoration: none;
    border-bottom: unset;
}

.footimgs a {
    all: unset;
}

.footimgs img {
    max-height: 2.5rem;
    max-width: 2.5rem;
    display: inline-block;
    padding: 0 0 5px 5px;
}

a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--black);
    border-bottom: 1.5px solid var(--gray);
}

body {
    max-width: 655px;
    padding: 0 10px;
    margin: 20px auto;
}

header {
    padding-bottom: 20px;
}

footer {
    padding-top: 30px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 20px;
}

nav ul li {
    padding-right: 10px;
    display: inline-block;
}

.footimg > a {
    padding-right: 10px;
}

table {
    width: 100%;
}

th {
    text-decoration: underline;
    text-align: left;
}

td {
    padding: 2px 10px 0px 0px;
    text-align: left;
}

table a {
    text-decoration: none;
}

hr {
    padding: 10px 0 10px 0;
    border: none;
}